/* *{
  padding: 0px;
  margin: 0px;
}
.container{
  padding: 15px;
  margin: 10px;
}
.btn{

  margin-left: 10px;
  padding: 5px;
}
.int{
  margin-bottom: 10px;
  padding: 10px;
}
.contain{
  display: flex;
  margin-bottom: 10px;
}
.contain button{
  margin-left: 10px;
  padding: 5px;
} */